<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
 
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
       
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <anonymousIdentification enabled="true"></anonymousIdentification>

    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" connectionStringName="ProfileConnection"  applicationName="OTA"   type="System.Web.Profile.SqlProfileProvider"/>
      </providers>
      <properties>
        <add name="personelId" defaultValue="1000"/>
        <add name="depId" />
        <add name="jobId"  />
        <add name="firstname"  />
        <add name="lastname" />
      </properties>
    </profile>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <connectionStrings>
    <!--<add name="OTA_DBEntities" connectionString="metadata=res://*/App_Code.Model.csdl|res://*/App_Code.Model.ssdl|res://*/App_Code.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=OTA_DB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ProfileConnection" connectionString="Data Source=.;Initial Catalog=OTA_DB;Integrated Security=True;MultipleActiveResultSets=True"/>-->

    <add name="ProfileConnection" connectionString="Password=Mrk_P@$$w0Rd_Secure;Persist Security Info=True;User ID=karamyar.com_MrK_Blog_Admin;Initial Catalog=karamyar.com_OTADb;Data Source=;MultipleActiveResultSets=True"/>
    <add name="OTA_DBEntities" connectionString="metadata=res://*/App_Code.Model.csdl|res://*/App_Code.Model.ssdl|res://*/App_Code.Model.msl;provider=System.Data.SqlClient;provider connection string='Password=Mrk_P@$$w0Rd_Secure;Persist Security Info=True;User ID=karamyar.com_MrK_Blog_Admin;Initial Catalog=karamyar.com_OTADb;Data Source=;MultipleActiveResultSets=True'" providerName="System.Data.EntityClient" />
  </connectionStrings>
 
</configuration>